*{
    padding: 0px;
    margin: 0px;
}
.header{
    height: 40px;
    width: 100%;
    background-color: black;
}
.footer{
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: rgb(42, 42, 105);
}
